/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

dump.rdb

# rspec failure tracking
.rspec
.rspec_status

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore node_modules
/node_modules/
/node_modules/*

Gemfile.lock

.DS_Store
*.gem
*.rbc
.bundle

package-lock.json
*.tgz

CREATION.md
