/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Ignore node_modules
/node_modules/
/node_modules/*

.DS_Store

# rspec failure tracking
.rspec
.rspec_status

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

dump.rdb

Gemfile.lock
package-lock.json

DEPTH.md
NOTES.md

Rakefile

*.tgz
*.gem
*.rbc
*.gemspec
