.git/
.github/
app/
bin/
lib/
spec/

/node_modules/
/node_modules/*

.gitignore
.ruby-version
.rspec
.rubocop.yml

Gemfile
Gemfile.lock

DEPTH.md
NOTES.md

package-lock.json

Rakefile

*.tgz
*.gem
utility_colors.gemspec
