// $mappings-props: (
//   $shorthand: $prop,
// );

// $mappings: (
//   $key: $var,
// );

$units: em, rem, px;

$unit-upper-limit: 24;

$signs: (
  '': 1,
  '-': -1,
);

$dimension-limits: '', min-, max-;

$gap-limits: (
  '': '',
  -x: column-,
  -y: row-,
);

$transform-axis: x, y;
$axis: '', -x, -y;

$pc-upper-limit: 100;

$grid-upper-limit: 12;

$spacings: (
  0: 0em,
  1: 0.25em,
  2: 0.5em,
  3: 0.75em,
  4: 1em,
  5: 1.25em,
  6: 1.5em,
  7: 1.75em,
  8: 2em,
  10: 2.5em,
  12: 3em,
  16: 4em,
  20: 5em,
  24: 6em,
  32: 8em,
  40: 10em,
  48: 12em,
  56: 16em,
  64: 20em,
  72: 24em,
);

$default-bw: 2px;

$screen-sizes: (
  sm: 325px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
);

$simple-directions: top, bottom, right, left;

$adv-directions: (
  center: center,
  top: top,
  top-right: top right,
  right: right,
  bottom-right: bottom right,
  bottom: bottom,
  bottom-left: bottom left,
  left: left,
  top-left: top left,
);

$z-indexes: (
  0: 0,
  1: 10,
  2: 20,
  3: 30,
  4: 40,
  5: 50,
  6: 60,
);

$pseudo-input: (
  checked,
  disabled,
  enabled,
  focus,
  in-range,
  invalid,
  optional,
  out-of-range,
  read-only,
  read-write,
  require,
  valid,
);

$pseudo-link: (
  link,
  visited,
);

$pseudo: (
  active,
  empty,
  first-child,
  first-of-type,
  hover,
  lang(language),
  last-child,
  last-of-type,
  not(selector),
  nth-child(n)	,
  nth-last-child(n),
  nth-last-of-type(n)	,
  nth-of-type(n),
  only-of-type,
  only-child,
  root,
  target,
);

$base-duration: 300ms;
$base-timing: ease;

$transitions: (
  all, 
  none, 
  height, 
  min-height, 
  max-height, 
  width, 
  min-width, 
  max-width, 
  color, 
  background-color,
  border-color,
  box-shadow, 
  transform, 
  opacity, 
  margin, 
  padding, 
  bottom, 
  top, 
  left,
  right, 
  font-size, 
  line-height, 
  outline, 
  text-indent
);