$_uc-screen-sizes: (
  sm: 325px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
);

$_uc-pseudo-input: (
  checked,
  disabled,
  enabled,
  focus,
);

$_uc-pseudo-input-extra: (
  in-range,
  invalid,
  optional,
  out-of-range,
  read-only,
  read-write,
  require,
  valid,
);

$_uc-pseudo-action: (
  active,
  hover,
  link,
  target,
  visited,
);

$_uc-pseudo-child: (
  root,
  first-child,
  first-of-type,
  last-child,
  last-of-type,
  only-of-type,
  only-child,
  empty,
  // nth-child(n),
  // nth-last-child(n),
  // nth-last-of-type(n),
  // nth-of-type(n),
);

$_uc-pseudos: list-combine(
  $_uc-pseudo-input,
  $_uc-pseudo-action,
  $_uc-pseudo-child,
);