// a function to combine multiple mappings variables into a single map
@function map-combine($maps...) {
  $collection: ();

  // map-merge combines two mappings together into a single map
  // this new mapping is then recursively merged to the next mapping in the array
  @each $mapping in $maps {
    $collection: map-merge($collection, $mapping);
  }

  @return $collection;
}

// a function to combine multiple listings variables into a single list
@function list-combine($lists...) {
  $collection: ();

  // list.join combines two listings together into a single list
  // this new listing is then recursively merged to the next listings in the array
  @each $listings in $lists {
    $collection: join($collection, $listings);
  }

  @return $collection;
}