$_uc-brightness-step: 9%;
$_uc-saturation-step: 2%;

// ? HSL Sequence
// Equally spaces colours from 50, 100 to 900 by only adjusting saturation and lightness

@function hsl_sequence($color, $step, $lighter) {
  @if $lighter {
    $color: lighten($color, $step * $_uc-brightness-step);
    $color: desaturate($color, $step * $_uc-saturation-step);
  } @else {
    $color: darken($color, $step * $_uc-brightness-step);
    $color: saturate($color, $step * $_uc-saturation-step);
  }

  @return $color;
}
